body {
  background-color: purple;
  color: blue;
  font-family: "Lucida Console";
}

.box {
  border: 2px solid green;
  border-radius: 5px;
  width: 50%;
  text-align: center;
  margin: auto;
  padding: 1%;
}

button {
  padding: 5px 20px;
  border: 2px solid blue;
  border-radius: 5px;
  margin: 10px 20px;
  color: white;
}

button.yes {
  background-color: green;
}

button.no {
  background-color: red;
}

.btns {
  border: 2px solid green;
  border-radius: 5px;
  width: 60%;
  text-align: center;
  margin: 0px auto 20px auto;
  padding: 20px 2px;
}

.cover {
  position: absolute;
  width: 100%;
  pointer-events: none;
}

p {
  font-size: 60%;
  text-align: left;
}

label {
  padding: 1%;
}

img.small {
  max-height: 50px;
}
